{% extends 'sidekick/app-base.html' %}
{% block content %}
{% load staticfiles %}
{% load printer_extras %}
<div class='container-fluid'>
    <div class="row">
        {% for location in library_list %}
        <div class="col-md-2 printer-area">
            <h1><b>{{location.name}}</b></h1>
            {% for printer in printer_list %}
            {% if printer.location == location %}
            <div class="col-md-3 printer-card"><h3>{{printer.print_type}}</h3>
                <button type="button" class="btn-default btn-lg" data-toggle="modal"
                        data-target={{printer.data_targ}}>
                    <img src='{% static printer.pic|img_exists %}'
                         class='img-printer'>
                </button>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% for printer in printer_list %}
    <div class="modal fade" id={{printer.pk}} role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title"><b>{{printer.print_type}}</b></h2>
                </div>
                <div class="modal-body">
                    <a href="http://{{printer.print_ip}}/" target="_blank"><h3>Printer Info</h3> </a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}