{% extends 'sidekick/app-base.html' %}
{% load staticfiles %}
{% block content %}
{% load tz %}
{% load shifts_extras %}
<div class = 'panel panel-primary'>
    <div class = 'panel-heading shifts-header'>
        <div class = 'shifts-week'>
                <button id = 'your-week-previous' type = 'button' class = 'btn btn-default'><span class="glyphicon glyphicon-menu-left"></span></button>
                <p class = 'your-week-text' id = 'your-week'></p>
                <button id = 'your-week-next' type = 'button' class = 'btn btn-default'><span class="glyphicon glyphicon-menu-right"></span></button>  
        </div>      
        <p class = 'shifts-title'>My Shifts</p>
        <div id = 'employee_date_selection' class = 'shifts-date-selector'>
            <div class = 'form-group'>
                <input id = 'your-shift-date' type = 'date' class = 'form-control' value= '{{date|datetime_to_date}}' id = 'date'>
            </div>
        </div>
    </div>
    <div class = 'panel-body'>
        <div id = 'your-shifts-panel-group' class = 'shifts-panel-group'></div>
    </div>
</div>
<div class = 'panel panel-warning'>
        <div class = 'panel-heading shifts-header'>
            <div class = 'shifts-week'>10/8 - 10/14</div>
            <div class = 'shifts-title'>Open Shifts</div>
            <div class = 'shifts-week-selector'>
                <div class = 'form-group'>
                    <input type = 'week' class = 'form-control' id = 'week'>
                </div>
            </div>      
        </div>
        <div class = 'panel-body'>
            <div class = 'shifts-panel-group'>
                <div class = 'panel panel-warning shift-panel'>
                    <div class = 'panel-heading'>Monday 10/9</div>
                    <div class = 'panel-body'>
                            <button type = 'button' class = 'btn btn-block shift-btn'>Marshburn: 10AM - 2PM</button>
                            <button type = 'button' class = 'btn btn-block shift-btn'>Marshburn: 9PM - 1AM</button>
                    </div>
                </div>
                <div class = 'panel panel-warning shift-panel'>
                    <div class = 'panel-heading'>Monday 10/9</div>
                    <div class = 'panel-body'>
                            <button type = 'button' class = 'btn btn-block shift-btn'>Marshburn: 10AM - 2PM</button>
                            <button type = 'button' class = 'btn btn-block shift-btn'>Marshburn: 9PM - 1AM</button>
                    </div>
                </div>
                <div class = 'panel panel-warning shift-panel'>
                    <div class = 'panel-heading'>Monday 10/9</div>
                    <div class = 'panel-body'>
                            <button type = 'button' class = 'btn btn-block shift-btn'>Marshburn: 10AM - 2PM</button>
                            <button type = 'button' class = 'btn btn-block shift-btn'>Marshburn: 9PM - 1AM</button>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id = 'shift-modals'></div>
<script src="{% static "js/shifts.js" %}"></script>        
{% endblock %}