{% extends 'sidekick/app-base.html' %}
{% block content %}
{% load staticfiles %}
{% load roster_extras %}
<div class='container-fluid'>
    {% if employee_list %}
    <div class='hero-cards'>
        {% for employee in employee_list %}
            <div class='panel panel-default hero-card'>
                <button type='button' class='btn hero-card-button btn-block {{employee.position}} dev_{{employee.developer}}' data-toggle='modal' data-target={{employee.data_target}}>
                <div class='panel-body'>
                    <div class="media">
                        <div class="media-left">
                            <img src = '{% static employee.picture|img_exists %}' class='img-circle img-herocard'>
                        </div>
                        <div class="media-body e_desc">
                            <p class="e_full_name"><b>{{employee.full_name}}</b></p>
                            <p class="e_short_desc"> {{employee.short_desc}} </p>
                            <p class="e_phone"> {{employee.nice_phone}} </p>
                        </div>
                    </div>
                </div>    
                </button>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <div class='page-header'>Ain't got none</div>
    {% endif %}
    {% for employee in employee_list %}
        <div id={{employee.netid}} class='modal fade'>
            <div class='modal-dialog modal-md'>
                <div class='modal-content {{employee.position}} dev_{{employee.developer}}'>
                    <div class='modal-header'>
                        <button type='button' class='close' data-dismiss='modal'>&times;</button>
                        <h4 class='modal-title'>{{employee.full_name}}</h4>
                    </div>
                    <div class='modal-body hero-bio'>
                        <img src = '{% static employee.picture|img_exists %}' class='img-circle img-herobio'>
                    <div class='hero-bio'>
                        <p> {{employee.full_name}} </p>
                        <p> {{employee.netid}} </p>
                        <p> {{employee.codename}} </p>
                        <p> {{employee.nice_position}} </p>
                        <p> {{employee.nice_phone}} </p>
                        <p> {{employee.birthday}} </p>
                    </div>
                    </div>
                    <div class='modal-footer'>
                        <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
                    </div>
            </div>
        </div>
        </div>
    {% endfor%}
</div>
{% endblock %}