<!-- Creates a list group and calls modal when clicked-->

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">Announcements</div>
    <div class="panel-body">
      <div class="list-group">
        <a href="#" class="list-group-item" data-toggle="modal" data-target="#myModal">
          <h4 class="list-group-item-heading">Announcement</h4>
          <p class="list-group-item-text">We gotz lots of upcoming stuffff</p>
        </a>
        <a href="#" class="list-group-item" data-toggle="modal" data-target="#myModal">
          <h4 class="list-group-item-heading">Event</h4>
          <p class="list-group-item-text">Dang cool events</p>
        </a>
        <a href="#" class="list-group-item" data-toggle="modal" data-target="#myModal">
          <h4 class="list-group-item-heading">Training</h4>
          <p class="list-group-item-text">Oh yah fall 2017 training the 14th</p>
        </a>
      </div>
    </div>
  </div>
</div>
