{% load staticfiles %}

<!-- Creates the homing beacona-->
<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">Homing Beacon</div>
    <div class="panel-body" style="min-height: 300;">

      <!-- Start RC-->
        <div class="media">

          <!-- There would be a for loop populating the specific RC images -->
          <div class="media-left">
            <img src="{% static 'employees/nchera13.gif'%}" class="media-object" style="width:60px">
          </div>
          <div class="media-left">
            <img src="{% static 'employees/jwood14.gif'%}" class="media-object" style="width:60px">
          </div>
          <div class="media-left">
            <img src="{% static 'employees/dbartholomew13.gif'%}" class="media-object" style="width:60px">
          </div>

        <div class="media-body">
          <h4 class="media-heading">Repair Center</h4>
            <p>Current Technicians on Duty</p>
        </div>
      </div>
      <!-- End RC -->

      <!-- Start SD-->
        <div class="media">

          <!-- There would be a for loop populating the specific SD images -->
          <div class="media-left">
            <img src="{% static 'employees/nchera13.gif'%}" class="media-object" style="width:60px">
          </div>
          <div class="media-left">
            <img src="{% static 'employees/nchera13.gif'%}" class="media-object" style="width:60px">
          </div>

        <div class="media-body">
          <h4 class="media-heading">Support Desk</h4>
            <p>Current Technicians on Duty</p>
        </div>
      </div>
      <!-- End SD -->

      <!-- Start Marsh-->
        <div class="media">

          <div class="media-left">
            <img src="{% static 'employees/nchera13.gif'%}" class="media-object" style="width:60px">
          </div>

        <div class="media-body">
          <h4 class="media-heading">Marshburn</h4>
            <p>Current Technicians on Duty</p>
        </div>
      </div>
      <!-- End Marsh -->

      <!-- Start Darling-->
        <div class="media">

          <div class="media-left">
            <img src="{% static 'employees/nchera13.gif'%}" class="media-object" style="width:60px">
          </div>

        <div class="media-body">
          <h4 class="media-heading">Darling</h4>
            <p>Current Technicians on Duty</p>
        </div>
      </div>
      <!-- End Darling -->

      <!-- Start Stamps-->
        <div class="media">

          <div class="media-left">
            <img src="{% static 'employees/nchera13.gif'%}" class="media-object" style="width:60px">
          </div>

        <div class="media-body">
          <h4 class="media-heading">Marshburn</h4>
            <p>Current Technicians on Duty</p>
        </div>
      </div>
      <!-- End Stamps -->

    </div>
  </div>
</div>
