{% load staticfiles %}
{% load sidekick_extras %}
{% load roster_extras %}

<!-- Creates the homing beacon-->
<div class="col-md-6">
  <div class="panel panel-default homebase-group">
    <div class="panel-heading app-head">Homing Beacon
    </div>
    <div class="panel-body app-body">

      <div class="beacon">

        <div class="beacon-left" id="rc">
          <p class="beacon-location">Labs</p>
        </div>

        <div class="beacon-right" id="rc-right">
            {% if lab_shifts %}
                {% for shift in lab_shifts %}
                <div class="info-emp">
                    <h4>{{shift.nice_location}}</h4>
                    <div class="img-holder">
                        {% if shift.is_open %}

                        {% endif %}
                        <img src="{% static shift.owner.picture|img_exists %}" alt="{{shift.owner}}"
                             class="employee-pic {% if shift.is_open %} pic-open-shift {% endif %}">
                    </div>
                    <div class="name-holder">
                        <p>{{shift.short_title}}</p>
                    </div>
                </div>

                {% endfor %}

                {% if user_netid|has_access:"homingbeacon_requestpaper" %}
                <div class="info-emp">
                  <h4>Paper Count</h4>
                  <div class="img-holder">
                    <span class="glyphicon glyphicon-file"></span>
                  </div>
                </div>
                {% endif %}
            {% else %}
                <h3>No one's on shift in the labs right now!</h3>
                <p>Why are you here?</p>
            {% endif %}


        </div>
      </div>

      <div class="beacon">

        <div class="beacon-left">
          <p class="beacon-location">Building 5</p>
        </div>

        <div class="beacon-right rc">
            {% if support_shifts %}
                {% for shift in support_shifts %}
                <div class="info-emp">
                    <h4>{{shift.pretty_location}}</h4>
                    <div class="img-holder">
                        <img src="{% static shift.owner.picture|img_exists %}" alt="{{shift.owner}}"
                             class="employee-pic {% if shift.is_open %} pic-open-shift {% endif %}">
                    </div>
                    <div class="name-holder">
                        <p>{{shift.short_title}}</p>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <h3>No one's in Building 5 right now</h3>
            {% endif %}
        </div>
      </div>

      <div class="beacon">

        <div class="beacon-left">
          <p class="beacon-location">Faculty and Staff</p>
        </div>

        <div class="beacon-right">

            <div class="info-emp">
              <h4>West</h4>
              <div class="img-holder">
                <img src="{% static "employees/dbartholomew13.gif" %}" alt="My image" class="employee-pic"/>
              </div>
              <div class="name-holder">
                <p>David B.</p>
              </div>
            </div>

            <div class="info-emp">
              <h4>East</h4>
              <div class="img-holder">
                <img src="{% static "employees/dbartholomew13.gif" %}" alt="My image" class="employee-pic"/>
              </div>
              <div class="name-holder">
                <p>David B.</p>
              </div>
            </div>

            <div class="info-emp">
              <h4>Refresh</h4>
              <div class="img-holder">
                <img src="{% static "employees/dbartholomew13.gif" %}" alt="My image" class="employee-pic"/>
              </div>
              <div class="name-holder">
                <p>David B.</p>
              </div>
            </div>

            <div class="info-emp">
              <h4>Printers</h4>
              <div class="img-holder">
                <img src="{% static "employees/dbartholomew13.gif" %}" alt="My image" class="employee-pic"/>
              </div>
              <div class="name-holder">
                <p>David B.</p>
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>


    <script text="text/javascript">
      $(document).ready(function() {

        $("#rc").hover(function(){

        },
        function(){

        });

      });
    </script>
