{% extends 'sidekick/app-base.html' %}
{% block content %}
<div class = "containter">
  <div class='page-header'>
      <h2>Home Base</h2>
  </div>

  <div class = "row">
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">Homing Beacon</div>
          <div class="panel-body">Homing Beacon</div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">Announcements</div>
          <div class="panel-body">Announcements and Events</div>
        </div>
      </div>
  </div>

  <div class = "row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">NewsLetter</div>
        <div class="panel-body">Newsletter</div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
