{% extends 'sidekick/app-base.html' %}
{% load staticfiles %}
{% load roster_extras %}
{% block content %}

<div class="homingbeacon-wrap">
    {% for location in hb_loc_data %}
    <div class="hb-location">
        <div class="hbloc-head">
            <h1>{{location.name}}</h1>
        </div>
        <div class="hbloc-container">
            {% for person in location.people %}
            <div class="card hb-card {% if person.shift.checkin == 'F' %}hb-card-nocheckin{% endif %}">
                <div class="card-block">
                    <h4 class="card-head">{{person.employee.full_name}}</h4>
                    <div class="row no-gutters">
                        <div class="col-2">
                            <h1 class="card-loc">{{person.shift.short_location}}</h1>
                        </div>
                        <div class="col-8 hb-img-container">
                            <img src="{% static person.employee.picture|img_exists %}" class="hb-img rounded-circle">
                            <div class="hb-checkin {% if person.shift.checkin == 'F' %}late-ok{% else %}checked-in{% endif %}">
                            </div>
                        </div>
                        <div class="col-2">
                        </div>
                    </div>
                    <div class="shift-completion" style="width:5%; background-color:forestgreen;"></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>


<style>
    @keyframes not-checked-in {
    0% {background-color: white;}
    50% {background-color: #FFB1B1;}
    100% {background-color: white;}
    }
    .homingbeacon-wrap
    {
    display:flex;
    flex-direction:row;
    margin:10px;
    overflow:auto;
    }
    .hbloc-container
    {
    max-height:93%;
    overflow:auto;
    }
    .hbloc-head
    {
    height:7%;
    }
    .hb-card{
    margin-bottom:10px;
    }
    .hb-card-nocheckin {
    animation: not-checked-in;
    animation-duration:3s;
    animation-iteration-count: infinite;
    }
    .hb-location {
    min-width:19rem;
    border: 2px solid darkgrey;
    border-radius:5px;
    background-color:white;
    margin-right:10px;
    height:53rem;
    }
    .card-head{
    text-align:center;
    }
    .hb-body{
    height:6rem;
    }
    .card-loc {
    writing-mode: sideways-lr;
    margin:0px;
    width:3rem;
    font-size:3rem;
    text-align:center;
    font-family:'Quantico', serif;
    }
    .card-time {
    writing-mode: sideways-rl;
    margin:0px;
    text-align:center;
    }
    .hb-img-container
    {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    }
    .hb-img {
    height:100px;
    width:100px;
    }
    .shift-completion {
    margin-top:10px;
    height:20px;
    border:2px solid darkgrey;
    border-radius:3px;
    }
    .hb-checkin
    {
    height:25px;
    width: 25px;
    border-radius:50%;
    position:absolute;
    top:7px;
    right:47px;
    }
    .checked-in {
    background-color: green;
    }
    .late-ok {
    background-color:goldenrod;
    }
    .late-bad {
    background-color:red;
    }

</style>

{% endblock %}