{% extends 'sidekick/app-base.html' %}
{% block content %}
<div class="page-body">
    <div class='page-header'>
        <h2>Passwords</h2>
    </div>
    <table class="table table-responsive table-hover pass-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Password</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody class="noselect pass-tbody">
            {% for password in passwords %}
            <tr>
                <td>{{password.name}}</td>
                <td>{{password.passwd}}</td>
                <td>{{password.description}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
