{% load staticfiles %}
{% block content %}
<div class="trophy-wrap">
    {% if trophy_list %}
        {% for trophy in trophy_list%}
            <a href="#" class="trophy" data-toggle="popover" data-placement="auto top" data-trigger="hover" title="{{ trophy.name }}" data-content="{{ trophy.reason }} -- {{trophy.giver.full_name}}">
                <img class="trophy-img" src="{% static trophy.url %}">
            </a>
        {% endfor %}
    {% else %}
        <p>No trophies found</p>
    {% endif %}
</div>
<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>
{% endblock %}