/* Page Styling */
.bodywrap
{
height:100%;
}
.contentwrap
{
height:auto;
}
.pagewrap
{
height:90%;
}

/* Sidebar Styling */
.sidebarWrap
{
    border-right:1px solid #eee;
}
.sidebarTools
{
    margin:0px;
}
.modTrack
{
    border-radius:5px;
    transition: all ease 0.3s;
}
#modCarousel .carousel-control
{
    opacity:0;
}
#modCarousel:hover .carousel-control
{
    opacity: 1;
}
.modNext
{
    display: flex;
    flex-direction: column;
    justify-content:center;

}
#modNextIcon
{
    font-size:40px;
    margin-top:-20px;
    margin-right:-15px;
}
.modName
{
    margin-top:10px;
}
.sideMoDImg
{
    height:60px;
    width:60px;
}
.sideUserWrap
{
    position:fixed;
    bottom:0px;
    left:0px;
    height:10%;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    padding:0px;
}
.userStd
{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
    height:100%;
    width:100%;
    transition: all ease-in-out 0.2s;
    background-color:white;
}
.sideUserText
{
    width: 145px;
}
.sideUserText p
{
    font-size: 16px;
    margin: 0px;
}
.sh-checkin-img
{
    height: 50px;
    width: 50px;
    border: #A0A0A0 2px solid;
}
.shLine
{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.shText
{
    margin-left:5px;
}

/* Fonts for all of sidekick */
*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Trophy css */
.trophy
{
    margin:3px;
}
.trophy-img
{
    height: 40px;
    width: 40px;
    border-radius: 3px;
}
.trophy-wrap
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Mod Checklist + Modals */
.table-tasks, tr, th
{
    border: solid 1px;
    border-collapse: collapse;
    padding: 15px
}
tr:nth-child(odd) {
    background-color: #b9d1f7
}

.btn-complete
{
    background-color: #0b62ed;
    color: #ffffff;
    padding left: 10px;
}
.modal-lg
{
    width: 1000px;
}
