/* CSS for the passwords page  */

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }
.page-body
  {
      height:84%;
  }
.pass-tdiv
  {
      height:80%;
      overflow:auto;
  }
.pass-table
  {
      max-height:87%;
  }
.pass-tbody
  {
      height:40%;
      overflow:auto;
  }
  