@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        font-weight: bolder;
        font-size: 37px;
        transition: all ease 0.3s;
                }
    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}
.bodywrap
{
height:100%;
}
.contentwrap
{
height:auto;
}
.pagewrap
{
height:90%;
}
.pic-open-shift{
    opacity: 0.5;
}

.navbar-brand
{
font-family: 'Raleway', Sans Serif;
padding-left: 0.5rem;
}

/*Makes the round employee pic with shadow*/
.employee-pic{
  border-radius: 50%;
  border: solid #gray 2px;
  width: 70%;
  min-width: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Styles the tool to be bigger, maybe there is a better way to do this*/
.glyphicon.glyphicon-file {
    font-size: 400%;
}

.beacon {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-left: 2px;
  margin-right: 2px;
}

.beacon-right{
  display: flex;
  position: relative;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 82%;
  background: white;
  height: 180px;
  text-align: center;
  border-right: solid 2px #9692A0;
  box-shadow: 3px 3px 3px grey;
  margin-top: 5px;
  border-radius: 2%;
  border-top-left-radius: 0%;
  z-index: 0;
}

.beacon-left{
  width: 22%;
  display:flex;
  flex-direction:column;
  align-items:center;
  background: #548E8E;
  padding: 5px;
  height: 180px;
  margin-top: 5px;
  border-right: solid 3px #285858;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  border-left: solid 3px #9692A0;
  color: white;
  box-shadow: 3px 3px 3px grey;
  z-index: 1;
  padding-top: 5%;
}

.beacon-location{
  font-size: 22px;
  font-color: blue;
  text-align: center;
}

/*Overrides the beacon for staff*/
.staff-beacon-left
{
  height: 360px;
}

.staff-beacon-right
{
  height: 360px;
}


.name-holder {

}

/*Employee info container*/
.info-emp{
  width: 25%;
}

.app-body{
  padding: 2px;
  overflow-y: scroll;
  height: 93%;s
  margin-top: 0px;
}

.modal-title-container{
  position: relative;
  display: flex;
}

.create-a{
  font-size: 14px;
  padding-right: 10px;
  width: 50%;
  height: 40px;
  margin: -10px;
  margin-top: -8px;
  margin-bottom: -8px;
  margin-right: -12px;
  background-color: white;
  border: 2px solid #B2D1D1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-e{
  font-size: 14px;
  padding-right: 10px;
  width: 50%;
  height: 40px;
  margin: -10px;
  margin-top: -8px;
  margin-bottom: -8px;
  margin-right: -12px;
  background-color: white;
  border: 2px solid #B2D1D1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-a:hover{
  background-color: #9692A0;
  color: white;
}

.create-e:hover{
  background-color: #9692A0;
  color: white;
}

.app-head{
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#new-icon{
  color: #0D4D4D;
}

.button-box{
    width: 10%;
    height: 40px;
    margin: -10px;
    margin-top: -8px;
    margin-bottom: -8px;
    margin-right: -12px;
    background-color: white;
    border: 2px solid #B2D1D1;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-box:hover{
  background-color: #9692A0;
}

.button-box:hover #new-icon{
  color: white;
}

.add-a-e{
  background-color: #DAD8DF;
  width: 99%;
  height: 150px;
  margin: 5px;
  position: relative;
}

.add-a-e span{
  color: white;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%)
}

.announcement {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-left: 2px;
  margin-right: 2px;
}
.a-right{
  width: 68%;
  background: white;
  height: 150px;
  text-align: center;
  border-right: solid 2px #9692A0;
  box-shadow: 3px 3px 3px grey;
  margin-top: 5px;
  border-radius: 2%;
  border-top-left-radius: 0%;
  z-index: 0;
  padding-left: 10px;
  padding-left: 5px;
}
.a-right p{
  position: absolute;
  top: 50%;                         /* 3 */
  transform: translate(0, -50%)
}

.a-left{
  width: 32%;
  background: #548E8E;
  padding: 5px;
  height: 150px;
  margin-top: 5px;
  border-right: solid 3px #285858;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  border-left: solid 3px #9692A0;
  color: white;
  box-shadow: 3px 3px 3px grey;
  z-index: 1;
  padding-top: 5%;
}

.event {
  display: flex;
  margin-left: 2px;
  margin-right: 2px;
  justify-content: space-around;
  position: relative;
}
.e-right{
  width: 68%;
  background: white;
  height: 150px;
  text-align: center;
  border-right: solid 2px #9692A0;
  box-shadow: 3px 3px 3px grey;
  margin-top: 5px;
  border-radius: 2%;
  border-top-left-radius: 0%;
  padding-left: 10px;
  padding-right: 5px;
  z-index: 0;
}
.e-right p{
  margin: 0;
  position: absolute;               /* 2 */
  top: 50%;                         /* 3 */
  transform: translate(0, -50%)
}

.e-left{
  width: 32%;
  background: #3C4934;
  padding: 5px;
  height: 150px;
  margin-top: 5px;
  border-right: solid 3px #181D14;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  border-left: solid 3px #9692A0;
  color: white;
  box-shadow: 3px 3px 3px grey;
  z-index: 1;
  padding-top: 5%;
}

.scrollable{
  padding: 2px;
  overflow-y: scroll;
  height: 94%;
  margin-top: 0px;
}

.homebase-group{
  margin-top: 0;
  margin-left: 5;
  margin-right: 5;

  height: 90%;
}

.e-subject{
  font-size: 22px;
  font-color: blue;
  text-align: center;
}

.e-meta{
  font-size: 12px;
  font-color: black;
  text-align: center;
}

.e-description{
  font-size: 16px;
  text-align: center;
}

.a-subject{
  font-size: 22px;
  font-color: blue;
  text-align: center;
}

.a-meta{
  font-size: 12px;
  font-color: black;
  text-align: center;
}

.a-description{
  font-size: 16px;
  text-align: center;
}

.newsletter{
  background-color: #ADD8E6;
  position: absolute;
  bottom: 20;
  width: 98%;
  text-align: center;
}

.navbar-nav a
{
    transition: all ease 0.3s;
}
.sidebarWrap
{
    border-right:1px solid #eee;
}
.sidebarTools
{
    margin:0px;
}
.modTrack
{
    border-radius:5px;
    transition: all ease 0.3s;
}
#modCarousel .carousel-control
{
    opacity:0;
}
#modCarousel:hover .carousel-control
{
    opacity: 1;
}
.modNext
{
    display: flex;
    flex-direction: column;
    justify-content:center;

}
#modNextIcon
{
    font-size:40px;
    margin-top:-20px;
    margin-right:-15px;
}
.modName
{
    margin-top:10px;
}
.sideMoDImg
{
    height:60px;
    width:60px;
}
.sideUserWrap
{
    position:fixed;
    bottom:0px;
    left:0px;
    height:10%;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    padding:0px;
}
.userStd
{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
    height:100%;
    width:100%;
    transition: all ease-in-out 0.2s;
    background-color:white;
}
.sideUserText
{
    width: 145px;
}
.sideUserText p
{
    font-size: 16px;
    margin: 0px;
}

.sh-checkin-img
{
    height: 50px;
    width: 50px;
    border: #A0A0A0 2px solid;
}
.shLine
{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.shText
{
    margin-left:5px;
}

.hero-cards
{
display:flex;
flex-direction:row;
flex-wrap:wrap;
max-height:90%;
overflow:auto;
}
.hero-card
{
    max-width: 306px;
    max-height: 138px;
    margin-left: 6px;
    display: inline-block;
    margin-bottom: 6px;
}
.spt
{
    background-color: #BEBEBE !important;
}
.sst
{
    background-color:#AFFFAF !important;
}
.llt
{
    background-color: #C4ADFF !important;
}
.mgr
{
    background-color: #AADAFF !important;
}
.stt
{
    background-color:#FFECA1 !important;
}
.stm
{
    background-color:#FFB1B1 !important;
}
.dev_True
{
    border: orange 2px solid !important;
}
.hero-bio
{
    text-align: left;
}
#comform
{
    margin:0px;
}
.hero-card-button
{
    border-radius: 4px;
    border: #A0A0A0 2px solid;
    background-color: white;
    transition: all linear 0.2s;
}
.hero-card-button:hover
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-herocard
{
    height: 87px;
    width: 87px;
}
.e_desc
{
    text-align:right;
    max-width:151px;
}
.e_field
{
    margin:0 0 2px;
}
.img-herobio
{
    display: block;
    margin-bottom: -150px;
    height: 185px;
    width: 185px;
    border: 2px #b3b3b3 solid;
}

.new-user-btn
{
    height: 136px;
    width: 306px;
    background-color: #BEBEBE !important;
    overflow: hidden;
}
.plus-wrap
{
    display: flex;
    justify-content: center;
    align-items:center;
}
.new-plus
{
    height: 96px;
    width:96px;
}
.trophy-wrap
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.award-text{
    width: 100%;
    text-align: center;
    margin-top: -20px;
}
.comment-panel
{
    border: 1px solid darkgrey;
    padding: 2px;
    width: 255px;
}
.trophy-modal
{
    display:flex;
    flex-direction:row;
    overflow: auto;
    bottom: 0px;
    min-height:130px;
    height: auto;
    margin: 0px;
    min-width: auto;
    width: 100%;
    border: 1px solid darkgrey;
    background: rgba(233,233,233,0.25);
}
.comment-button
{
    cursor:hand;
    transition: all linear 0.2s;
    height: 5px;
    width: 5px;
    border-radius: 2px;
    display: flex-inline-block;
    align-items: center;
    padding: 3px;
    border: 1px solid darkgrey;
    background-color: #dbe5ec;
}
.comment-button:hover
{
    box-shadow: 0px 0px 8px #666666;
}
.comment-button-hov-button:hover
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.trophy
{
    margin:3px;
}
.trophy-img
{
    height: 40px;
    width: 40px;
    border-radius: 3px;
}
.printer-area
{
    width: 750px;
    height: 400px;
    margin-bottom: 30px;
    display: inline-block-fixed;

}
.printer-card
{
    width: 175px;
    height: 300px;
    margin: 10px;
    display: inline-block;
    margin-bottom: 50px;
    justify-content: center;
}
.printer-bio
{
    text-align: right;
}
.printer-button
{
    width: 100px;
    height: 100px;
    border-radius: 4px;
    border: #A0A0A0 2px solid;
    direction: right;
    display: block-inline;
    background-color: #BEBEBE !important;
    transition: all linear 0.2s;
}
.panel-printer-btn
{
    cursor:hand;
    transition: all linear 0.2s;
    height: 215px;
    width: 175px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.panel-printer-btn:hover
{
    box-shadow: 0px 0px 8px #666666;
}
.printer-hov-button:hover
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-printer
{
    max-height: 325px;
    max-width: 175px;
}
.print-log{
    border-color: black;
    border-bottom: solid;
    border-style: solid;
}

.services-selection-container
{
    max-height: 400px;
    max-width: 100%;
}
.services-panel
{
    margin-bottom: 5px;
}
.service-btn
{
    border-radius: 4px;
    border: white 2px solid;
    background-color: white;
    transition: all linear 0.2s;
}
.part-btn
{
    border-radius: 4px;
    border: white 2px solid;
    background-color: white;
    transition: all linear 0.2s;
}
.service-btn:hover
{
    border: #A0A0A0 2px solid;
}
.quoted-cards
{
    width: 100%;
}
.quoted-service
{
    background-color: white;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {

  -webkit-appearance: none; 
  margin: 0;
}
.required-field
{
    border-color: #d9534f;
}
.hidden-quote
{
    display: none;
}

.tab-card
{
    min-height:388px;
    min-width:600px;
}

.shift-btn
{
    border-radius: 4px;
    border: lightgray 2px solid;    
    background-color: white;
    transition: all linear 0.2s;
}
.open-shift
{
    border: red 2px solid;
}
.shifts-header
{
    display: flex;
}
.shifts-week
{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.shifts-title
{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shifts-week-selector
{
    flex: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.shifts-panel-group
{
    display: flex;
    flex-direction:row;
    overflow:auto;
}
.shift-panel
{
    justify-content: flex-start;
    margin-right: 2px;
}
.your-week-text
{
    padding-right: 5px;
    padding-left: 5px;
}
.open-week-text
{
    padding-right: 5px;
    padding-left: 5px;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.spaced-radio-btn {
    margin-left: 10px;
    margin-right: 10px;    
}
.align-left {
    float: left;
}
.align-right {
    float: right;
}
.partial-start {
    margin-right: 10px;
}
.partial-selectors {
    padding-bottom: 10px;
}
.hidden {
    display: none;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.page-body
{
    height:84%;
}
.pass-tdiv
{
    height:80%;
    overflow:auto;
}
.pass-table
{
    max-height:87%;
}
.pass-tbody
{
    height:40%;
    overflow:auto;
}
