<!-- Load our static files, this is for bootstrap, images, and our icon :) -->
{% load staticfiles %}

<!-- The header, we get bootstrap and do other important neato things :) -->
<html>
    <head>
        <title>Sidekick 0.4.0</title>
        {% block head-meta %}
            <meta charset="utf-8">
            <meta name="keywords" content="sidekick, imt, device solutions">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="sidekick icon" type="image/png" href="{% static 'favicon.ico' %}">
        {% endblock %}
        {% block head-css %}
            <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
            <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
            <link rel="stylesheet" href="{% static 'styles/base.css' %}"/>
            <link rel="stylesheet" href="{% static 'styles/'|add:curr_page|add:'.css' %}"/>
        {% endblock %}
        {% block load-javascript %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/'|add:curr_page|add:'.js' %}"></script>
        {% endblock %}
    </head>
    <!-- The base of the page -->
    <body>
        <!-- Where we define our wonderful navbar -->
        <div class='row no-gutters'>
            <div class='col no-gutters'>
            {% include 'sidekick/navigation.html' %}
            </div>
        </div>
        <div class='row no-gutters'>
            <div class='col-sm-2'>
                <!-- Side Panel -->
                {% include 'sidekick/side-panel.html' %}
                {% include 'sidekick/side-user.html' %}
            </div>
            <div class='col-sm-10'>
                {% block content %}<!-- PUT YOUR CONTENT HERE :D -->{% endblock %}
            </div>
        </div>
    </body>
</html>
