<!-- Load our static files, this is for bootstrap :) -->
{% load staticfiles %}

<!-- The header, we get bootstrap and do other important neato things :) -->
<html>
    <head>
        {% block head-meta %}
            <meta charset="utf-8">
            <meta name="keywords" content="sidekick, imt, device solutions">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}

        {% block head-css %}
            <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}"
                rel="stylesheet" media="screen">
        {% endblock %}
    </head>
<header>

<!-- Where we define our wonderful navbelt -->    
<nav class = "navbar navbar-default navbar-static-top" role = "navigation">
    <div class = "container-fluid">
        <div class = "navbar-header">
		      <button type = "button" class = "navbar-toggle collapsed" data-toggle = "collapse" data-target = "#nav-belt" aria-expanded="false" aria-controls="navbar">
		        <span class = "icon-bar"></span>
		        <span class = "icon-bar"></span>
		        <span class = "icon-bar"></span>
		      </button>
            <a class = "navbar-brand navbar-brand-centered" href = "homebase">Sidekick</a>
        </div>
        <div class = "navbar-collapse collapse" id = "nav-belt">
            <ul class = "nav navbar-nav">
                <li><a href = "homebase">Homebase</a></li>
                <li><a href = "passwords">Passwords</a></li>
                <li><a href = "shifts">Shifts</a></li>
            </ul>
            <ul class = "nav navbar-nav navbar-right">
                <li><a href = "roster">Roster</a></li>
                <li><a href = "quotes">Quotes</a></li>
                <li><a href = "dbtest">DBTest</a></li>
            </ul>
        </div>
    </div>
</nav>
</header>
    {% block content %}<!-- PUT YOUR CONTENT HERE -->{% endblock %}

    {% block head-javascript %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    {% endblock %}
</html>