{% load sidekick_extras %}
    <nav class = "navbar navbar-expand-lg bg-dark navbar-dark">
        <!-- Brand/Logo -->
        <a class = "navbar-brand" href = "{% url 'homebase:index' %}">SideKick</a>
        <button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#navbeltDropdown" aria-expanded = "false" aria-label="Toggle navigation">
            <span class = "navbar-toggler-icon"></span>
        </button>
        <!-- Modules -->
        <div id = "navbeltDropdown" class="navbar-collapse collapse">
        <ul class = "navbar-nav mr-auto">
            <li class = "nav-item">
                <a class = "nav-link" href = "{% url 'homebase:index' %}">Homebase</a>
            </li>
            <li class = "nav-item">
                <a class = "nav-link" href = "{% url 'passwords:index' %}">Passwords</a>
            </li>
            <li class = "nav-item">
                <a class = "nav-link" href = "{% url 'shifts:index' %}">Shift Covers</a>
            </li>
            <li class = "nav-item">
                <a class = "nav-link" href = "{% url 'roster:index' %}">Roster</a>
            </li>
            <li class = "nav-item">
                <a class = "nav-link" href = "{% url 'quotes:index' %}">Quote Tool</a>
            </li>
            <li class = "nav-item">
                <a class = "nav-link" href = "{% url 'printinfo:index' %}">Printer Info</a>
            </li>
        </ul>
        <!-- Dropdowns -->
        <ul class = "navbar-nav">
            <li class = "nav-item">
                <a class = "nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLSfzbDI9JBMxqS-pDYAnmWq6z3KbRaeBaJSWVN0Dq9kLeLcIoQ/viewform?usp=sf_link" target="_blank">
                    Manual Shift Cover Form
                </a>
            </li>
            <li class = "nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Rounds Reports <b class="caret"></b></a>
                <div class = "dropdown-menu">
                    <a class = "dropdown-item" href="https://docs.google.com/a/apu.edu/forms/d/e/1FAIpQLSdq-oICEs4EM7bFO3ofPauO4r53k_ltyzTLBtI8RBb4DJCDEg/viewform" target="_blank">
                        Marshburn
                    </a>
                    <a class = "dropdown-item" href="https://docs.google.com/a/apu.edu/forms/d/e/1FAIpQLScAfh_fpv5kTc_j9TAgyJBLVimrTU1dm6TklOSTTe9wPsQbmg/viewform" target="_blank">
                        Darling
                    </a>
                    <a class = "dropdown-item" href="https://docs.google.com/a/apu.edu/forms/d/e/1FAIpQLSdoIf4iRYyyKbF40Y_3v1ctrA1jkua-cSZwBsY6YhZSRsyAHQ/viewform" target="_blank">
                        Stamps
                    </a>
                    {% if user_netid|has_access:"nav_modtools" %}
                    <div class = "dropdown-divider"></div>
                    <a class = "dropdown-item" href="https://docs.google.com/a/apu.edu/forms/d/e/1FAIpQLSfO_tzuhNtOeJEQGknHlfxwQVBNn12QNNaMh22Eo7VVmmmSyQ/viewform" target="_blank">
                        MoD Report
                    </a>
                    {% endif %}
                </div>
            </li>
            <li class = "nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Tools <b class="caret"></b></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class = "dropdown-item" href="https://apuimt.slack.com/" target="_blank">Slack</a>
                    <a class = "dropdown-item" href="https://den.apu.edu/idm/admin" target="_blank">IDM</a>
                    <a class = "dropdown-item" href="https://labprint.apu.edu/release" target="_blank">Papercut</a>
                    <a class = "dropdown-item" href="https://docs.google.com/a/apu.edu/forms/d/e/1FAIpQLSe_EPW562n79mbHaI7_YYWVfD9LxKzmo1__Y9UtZ13fzczuJQ/viewform" target="_blank">Time Adjustment Form</a>
                    <a class = "dropdown-item" href="https://apu.zendesk.com/agent/" target="_blank">Zendesk</a>
                    <a class = "dropdown-item" href="https://wiki.apu.edu/" target="_blank">Wiki</a>
                    {% if user_netid|has_access:"nav_modtools" %}
                    <div class = "dropdown-divider"></div>
                    <a class = "dropdown-item" href="https://ise-adm-1.ise.apu.edu/admin/login.jsp" target="_blank">ISE</a>
                    <a class = "dropdown-item" href="https://director.apu.edu/" target="_blank">Director</a>
                    <a class = "dropdown-item" href="https://citrix.apu.edu/" target="_blank">Citrix</a>
                    <a class = "dropdown-item" href="/roster/overview" >Roster Overview</a>
                    <a class = "dropdown-item" href="https://labprint.apu.edu/app">Labprint Admin</a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
    </nav>
