    <nav class = "navbar navbar-default navbar-static-top" role = "navigation">
        <div class = "container-fluid">
            <div class = "navbar-header">
                <button type = "button" class = "navbar-toggle collapsed" data-toggle = "collapse" data-target = "#nav-belt" aria-expanded="false" aria-controls="navbar">
                    <span class = "icon-bar"></span>
                    <span class = "icon-bar"></span>
                    <span class = "icon-bar"></span>
                </button>
                <a class = "navbar-brand navbar-brand-centered" href = "homebase">Sidekick</a>
            </div>
            <div class = "navbar-collapse collapse" id = "nav-belt">
                <ul class = "nav navbar-nav">
                    <li><a href = "homebase">Homebase</a></li>
                    <li><a href = "passwords">Passwords</a></li>
                    <li><a href = "shifts">Shifts</a></li>
                </ul>
                <ul class = "nav navbar-nav navbar-right">
                    <li><a href = "roster">Roster</a></li>
                    <li><a href = "quotes">Quotes</a></li>
                    <li><a href = "dbtest">DBTest</a></li>
                </ul>
            </div>
        </div>
    </nav>