
{% load sidekick_extras %}

<nav class = "navbar navbar-default navbar-static-top" role = "navigation">
    <div class = "container-fluid">
        <div class = "navbar-header">
            <button type = "button" class = "navbar-toggle collapsed" data-toggle = "collapse" data-target = "#nav-belt" aria-expanded="false" aria-controls="navbar">
                <span class = "icon-bar"></span>
                <span class = "icon-bar"></span>
                <span class = "icon-bar"></span>
            </button>
            <a class = "navbar-brand" href = "{% url 'homebase:index' %}">SIDEKICK</a>
        </div>
        <div class = "navbar-collapse collapse" id = "nav-belt">
            <ul class = "nav navbar-nav">
                <li><a href = "{% url 'homebase:index' %}">Homebase</a></li>
                <li><a href = "{% url 'passwords:index' %}">Passwords</a></li>
                <li><a href = "{% url 'shifts:index' %}">Shift Covers</a></li>
                <li><a href = "{% url 'roster:index' %}">Roster</a></li>
                <li><a href = "{% url 'quotes:index' %}">Quote Tool</a></li>
                <li><a href = "{% url 'printinfo:index' %}">Printer Info</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rounds Reports <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="https://docs.google.com/a/apu.edu/forms/d/e/1FAIpQLSdq-oICEs4EM7bFO3ofPauO4r53k_ltyzTLBtI8RBb4DJCDEg/viewform" target="_blank">
                                Marshburn
                            </a>
                        </li>
                        <li>
                            <a href="https://docs.google.com/a/apu.edu/forms/d/e/1FAIpQLScAfh_fpv5kTc_j9TAgyJBLVimrTU1dm6TklOSTTe9wPsQbmg/viewform" target="_blank">
                                Darling
                            </a>
                        </li>
                        <li>
                            <a href="https://docs.google.com/a/apu.edu/forms/d/e/1FAIpQLSdoIf4iRYyyKbF40Y_3v1ctrA1jkua-cSZwBsY6YhZSRsyAHQ/viewform" target="_blank">
                                Stamps
                            </a>
                        </li>
                        {% if user_netid|has_access:"nav_modtools" %}
                        <li class="divider"></li>
                        <li>
                            <a href="https://docs.google.com/a/apu.edu/forms/d/e/1FAIpQLSfO_tzuhNtOeJEQGknHlfxwQVBNn12QNNaMh22Eo7VVmmmSyQ/viewform" target="_blank">
                                MoD Report
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://apuimt.slack.com/" target="_blank">
                                Slack
                            </a></li>

                        <li><a href="https://den.apu.edu/idm/admin" target="_blank">IDM</a></li>
                        <li><a href="https://labprint.apu.edu/release" target="_blank">Papercut</a></li>
                        <li><a href="https://docs.google.com/a/apu.edu/forms/d/e/1FAIpQLSe_EPW562n79mbHaI7_YYWVfD9LxKzmo1__Y9UtZ13fzczuJQ/viewform" target="_blank">Time Adjustment Form</a></li>
                        <li><a href="https://apu.zendesk.com/agent/" target="_blank">Zendesk</a></li>
                        <li><a href="https://wiki.apu.edu/" target="_blank">Wiki</a></li>
                        {% if user_netid|has_access:"nav_modtools" %}
                        <li><a href="https://ise-adm-1.ise.apu.edu/admin/login.jsp" target="_blank">ISE</a></li>
                        <li><a href="https://director.apu.edu/" target="_blank">Director</a></li>
                        <li><a href="https://citrix.apu.edu/" target="_blank">Citrix</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
