{% load staticfiles %}
<div class='panel-group sidebarTools'>
    <div class="panel panel-default">
        <div class="panel-heading">Current MoD</div>
        <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        <img src='{% static 'employees/nchera13.gif' %}' class='img-circle sideMoDImg'>
                    </div>
                    <div class="media-body">
                        <h4 class='media-heading modName'>Nicholas Chera</h4>
                        <p>10:00am-2:00pm</p>
                    </div>
                </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class='panel-heading'>My Shift</div>
        <div class="panel-body">
            <!--<div class="shLine shStatus">
                <p class="shText">Shift Status: </p>
                <p class="shText" id="shStatusIn">Checked In</p>
            </div>
            -->
            <div class="shLine shEnd">
                <p class="shText">Shift ends in: </p>
                <p class="shText" id="shEndsIn">50</p>
                <p class="shText">min</p>
            </div>
            <div class="shLine shRounds">
                <p class="shText">Rounds due in:</p>
                <p class="shText" id="shRoundsIn">2</p>
                <p class="shText">min</p>
            </div>
            <div class="shLine shBreak">
                <p class="shText">Break length: </p>
                <p class="shText" id="shBreakIn">15</p>
                <p class="shText">min</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Trophy Case</div>
        <div class="panel-body">
            Trophy Case goes here! Woo hoo!
        </div>
    </div>
</div>