{% load staticfiles %}
{% load roster_extras %}
{% load sidekick_extras %}

<div class="side-panel">
    <div class="card">
        <div class="card-header"><h4>MoD Tracker</h4></div>
        <div class="card-body">
            <div class="carousel slide modTrack" id="modCarousel" data-ride='carousel'>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="media curMoD">
                            {% if curr_mod %}
                            <div class="media-left">
                                <img src="{% static curr_mod.owner.picture|img_exists %}" class='rounded-circle sideMoDImg'>
                            </div>
                            <div class="media-body">
                                <h4 class='media-heading modName'>Now: {{curr_mod.owner}}</h4>
                                <p>{{curr_mod.pretty_duration}}</p>
                            </div>
                            {% else %}
                            <div class="media-body">
                                <h4 class="media-heading modName">Current: None</h4>
                                <p>Try the MoD phone or Slack!</p>
                            </div>
                            {% endif %}
                            </div>
                        </div>
                    <div class="carousel-item">
                        <div class="media nextMoD">
                            {% if next_mod %}
                            <div class="media-left">
                                <img src="{% static next_mod.owner.picture|img_exists %}" class='rounded-circle sideMoDImg'>
                            </div>
                            <div class="media-body">
                                <h4 class='media-heading modName'>Next: {{next_mod.owner}}</h4>
                                <p>{{next_mod.pretty_duration}}</p>
                            </div>
                            {% else %}
                            <div class="media-body">
                                <h4 class="media-heading modName">Next: None</h4>
                                <p>Sorry about that!</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#modCarousel" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#modCarousel" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="media">
                <div class="media-body">
                    <h4>
                        {% if my_shift %}
                            {% if my_shift_happening %}
                                My Shift<br>
                                <small> {{my_shift.pretty_location}}: {{my_shift.pretty_duration}}</small>
                            {% else %}
                                My Next Shift:
                            {% endif %}
                        {% else %}
                        No Upcoming Shifts
                        {% endif %}
                    </h4>
                </div>
                <div class="media-right">
                    <!--<img class="sh-checkin-img img-circle" src="{% static 'roster/checked-in-False-time.png'%}">-->
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="media">
                <div class="media-body">
                    <!-- Pending shift status in release 1.2
                    <div class="shLine shStatus">
                        <p class="shText">Shift Status: </p>
                        <p class="shText" id="shStatusIn">Checked In</p>
                    </div>
                    -->
                    {% if my_shift %}
                    {% if my_shift_happening %}
                    <div class="shMeta" style="display:none">
                        <p class="sh-end">{{my_shift.shift_end|date:"c"}}</p>
                        <p class="tech-type">{{user.position}}</p>
                    </div>
                    <div class="shLine shEnd">
                        <p class="shText">Shift ends in: </p>
                        <p class="shText" id="shEndsIn"></p>
                        <p class="shText">min</p>
                    </div>
                    <div class="shLine shRounds">
                        <p class="shText">Report due in:</p>
                        <p class="shText" id="shRoundsIn"></p>
                        <p class="shText">min</p>
                    </div>
                    <!--
                    <div class="shLine shBreak">
                        <p class="shText">Break length: </p>
                        <p class="shText" id="shBreakIn"></p>
                        <p class="shText">min</p>
                    </div>
                    -->
                    {% else %}
                    <p>{{my_shift.pretty_location}},<br>{{my_shift.pretty_duration}}, <br>{{my_shift.shift_date}}</p>

                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if user_netid|has_access:"roster_modfb_all" %}
    <div class="card">
        <div class="card-header"><h4>MoD Checklist</h4></div>
        <div class="card-body">
            <fieldset id="task-checklist">
                <legend>Current Tasks</legend>

                {%for task in priority_tasks %}
                <div class="task-list-hpr" style="display: flex;">
                    <input type="checkbox" id="task-checkbox{{task.id}}" class="task-checkbox"/>
                    <label for="task-checkbox{{task.id}}" style="padding-left: 15px">{{task.task}}</label>
                </div>
                {% endfor %}
                {%for task in tasks %}
                <div class="task-list" style="display: flex;">
                    <input type="checkbox" id="task-checkbox{{task.id}}" class="task-checkbox"/>
                    <label for="task-checkbox{{task.id}}" style="padding-left: 15px">{{task.task}}</label>
                </div>
                {% endfor %}
            </fieldset>
            <button role=button data-toggle="modal" data-target="#task-modal" class="btn btn-success btn-sm">Add Task</button>
            <button type="button" id="task-complete" class="btn btn-sm btn-complete"  disabled>Complete</button>
            <button role="button " data-toggle="modal" data-target="#view-modal"  class="btn btn-sm ">Full List</button>
            <br>
            <br>
            <h4>MoD Note</h4>
            <p20 class="small">Last updated by: {{modnote.poster}} on {{modnote.created_date}}</p20>
            <textarea id="modnote" class="form-control" placeholder="Burritos are good" rows="2"></textarea>
            <br>
            <button role="button" id="note-update" class="btn btn-success btn-sm">Update Note</button>
            <button role="buttone" id="note-clear" class="btn btn-danger btn-sm">Clear Note</button>
        </div>
    </div>
    {%endif%}
    <div class="card">
        <div class="card-header"><h4>My Awards</h4></div>
        <div class="card-body">
            {% include 'trophycase/trophycase.html' with trophy_list=trophy_list %}
        </div>
    </div>
    <div class='card' style="height: 100px">
    <div class='userStd'>
        <div class='sideUserText'>
            <p><b>Logged in as:</b></p>
            <p class='currentUser'>{{user_name}}</p>
            <a class="logout" href="{% url 'logout' %}">Log out</a>
        </div>
        <img src="{% static user_img|img_exists %}" class='img rounded-circle sideMoDImg'>
    </div>
    </div>
</div>
<div id="task-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="task-menu-body" id="cr-task-container">
                    <h2>Create Task</h2>
                    <br>
                    <p><b>Task:</b></p>
                    <input class="form-control" id="task-text" type="text" placeholder="Make a Burrito">
                    <br>
                    <fieldset id="task-pr">
                        <legend>Task Priority:</legend>
                        <div id="task-pr-list">
                            <input type="radio" id="task-pr-high" name="priority" value='True' class="radio-button">
                            <label for="task-pr-high" style="padding-right: 5px">High</label>
                            <input type="radio" id="task-pr-neutral" name="priority" value='False' class="radio-button">
                            <label for="task-pr-neutral" style="padding-right: 5px">Normal</label>
                        </div>
                    </fieldset>
                    <br>
                    <br>
                    <button type="button" class="btn btn-success" id="task-submit">Submit</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
      </div>
</div>
<div id="view-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="task-menu-body" id="view-tasks-container">
                    <h2>Uncompleted Tasks:</h2>
                    <table id="incomplete-tasks" class="table-tasks">
                        <tr>
                            <th>Task</th>
                            <th>Task Creator</th>
                            <th>Created Date</th>
                        </tr>
                        {%for task in tasks%}
                        <tr>
                            <td style="width: 300px">{{task.task}}</td>
                            <td>{{task.poster}}</td>
                            <td>{{task.created_date}}</td>
                        </tr>
                        {%endfor%}
                    </table>
                    <br>
                    <h2>Completed Tasks</h2>
                    <table id="complete-tasks" class="table-tasks">
                        <tr>
                            <th>Task</th>
                            <th>Task Completer</th>
                            <th>Completed Date</th>
                            <th>Task Creator</th>
                            <th>Created Date</th>
                        </tr>
                        {%for task in completed_tasks%}
                        <tr>
                            <td>{{task.task}}</td>
                            <td>{{task.completer}}</td>
                            <td>{{task.completed_date}}</td>
                            <td>{{task.poster}}</td>
                            <td>{{task.created_date}}</td>
                        </tr>
                        {%endfor%}
                    </table>
                </div>
            </div>
        </div>
      </div>
</div>