{% load staticfiles %}

<p class='sidebarHeader'>Alfred 0.0.1</p>
<div class='panel-group sidebarTools'>
    <div class="panel panel-default">
        <div class="panel-heading">Current MoD</div>
        <div class="panel-body">
            <div class='sideMoDbody'>
                <img src='{% static 'employees/nchera13.gif' %}' class='img-circle sideMoDImg'>
                <div><p class='sideMoDName'>Nicholas Chera</p></div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class='panel-heading'>My shift</div>
        <div class="panel-body">
            hi

        </div>
    </div>
</div>