{% extends 'sidekick/app-base.html' %}
{% load roster_extras %}
{% load sidekick_extras %}
{% block content %}

{% if user_netid|has_access:"roster_overview" %}
<div class="container-fluid">
    <div class="row">
        <h3><b>Recent Comments</b></h4>
            {% for comment in comments %}
            {% if comment.val is None %}
            <div class="card w-100">
                <div class="card-header text-white bg-info"><b>Posted By: </b> {{comment.poster}} on {{comment.time}}</div>
                <div class="card-body">
                    <b>For: </b>{{comment.about}}
                    <br><b>Reason: </b>{{comment.description}}</br>
                </div>
            </div>
            {% endif %}
            {% if comment.val == 0.50 %}
            <div class="card w-100">
                <div class="card-header text-white bg-warning"><b>Posted By: </b> {{comment.poster}} on {{comment.time}}</div>
                <div class="card-body">
                    <b>For: </b>{{comment.about}}
                    <br><b>Reason: </b>{{comment.description}}</br>
                </div>
            </div>
            {% endif %}
            {% if comment.val == 1.00 %}
            <div class="card w-100">
                <div class="card-header text-white bg-danger"><b>Posted By: </b> {{comment.poster}} on {{comment.time}}</div>
                <div class="card-body">
                    <b>For: </b>{{comment.about}}
                    <br><b>Reason: </b>{{comment.description}}</br>
                </div>
            </div>
            {% endif %}
            {% endfor %}
    </div>
</div>
{% else %}

<h3 style="margin-left:10px;">Access denied</h3>
{% endif %}

{% endblock %}