{% extends 'sidekick/app-base.html' %}
{% load staticfiles %}
{% block content %}
{% if services_list %}
<div class = 'row no-gutters'>
    <div class= 'col-sm-7'>
        <div class = 'container-fluid'>
            <div>
                <div class='card services-card'>
                    <div class='card-header'>Backup</div>
                    {% for service in services_list %}
                        {% if service.category == 'backup' %}
                            <button id='service' type='button' class='btn btn-block service-btn' 
                            onclick="addService('{{service.service_name}}','{{service.price}}','{{service.category}}');">
                                <div class ='media'>
                                    <div id='service-name' class ='media-left'>
                                    {{service.service_name}}
                                    </div>
                                    <div id='service-desc' class ='media-body'>
                                    {{service.description}}
                                    </div>
                                    <div id='service-price' class ='media-right'>
                                    ${{service.price}}
                                    </div>
                                </div>
                            </button>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div>
                <div class='card services-card'>
                    <div class='card-header'>Hardware</div>
                    <div id='part' class='list-group-item'>
                            <form>
                                <div class = "input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="oi oi-wrench"></i></span>
                                    </div>
                                    <input id='part-name' type='text' class="form-control" placeholder="Part Name" name='part-name'>
                                </div>
                                <div class = "input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="oi oi-dollar"></i></span>
                                    </div>
                                    <input id='part-price' type='number' class="form-control" placeholder="Part Price" name='part-price'>
                                </div>
                                <div class = "input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="oi oi-envelope-closed"></i></span>
                                    </div>
                                    <input id='shipping-price' type='number' class="form-control" placeholder="Shipping Cost" name='shipping-price'>
                                </div>
                            </form>
                        <button id = 'add-part' type = 'button' class = 'btn btn-primary btn-block btn-add-part'>Add Part</button>
                        </div>
                    {% for service in services_list %}
                        {% if service.category == 'labor' %}
                            <button id='service' type='button' class='btn btn-block service-btn' 
                            onclick="addService('{{service.service_name}}','{{service.price}}','{{service.category}}');">
                                <div class ='media'>
                                    <div id='service-name' class ='media-left'>
                                    {{service.service_name}}
                                    </div>
                                    <div id='service-desc' class ='media-body'>
                                    {{service.description}}
                                    </div>
                                    <div id='service-price' class ='media-right'>
                                    ${{service.price}}
                                    </div>
                                </div>
                            </button>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div>
                <div class='card services-card'>
                    <div class='card-header'>Software</div>
                    {% for service in services_list %}
                        {% if service.category == 'software' %}
                            <button id='service' type='button' class='btn btn-block service-btn' 
                            onclick="addService('{{service.service_name}}','{{service.price}}','{{service.category}}');">
                                <div class ='media'>
                                    <div id='service-name' class ='media-left'>
                                    {{service.service_name}}
                                    </div>
                                    <div id='service-desc' class ='media-body'>
                                    {{service.description}}
                                    </div>
                                    <div id='service-price' class ='media-right'>
                                    ${{service.price}}
                                    </div>
                                </div>
                            </button>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class = 'services-selection-container'>
                <div class='card services-card'>
                    <div class='card-header'>Other</div>
                    {% for service in services_list %}
                        {% if service.category == 'other' %}
                            <button id='service' type='button' class='btn btn-block service-btn' 
                            onclick="addService('{{service.service_name}}','{{service.price}}','{{service.category}}');">
                                <div class ='media'>
                                    <div id='service-name' class ='media-left'>
                                    {{service.service_name}}
                                    </div>
                                    <div id='service-desc' class ='media-body'>
                                    {{service.description}}
                                    </div>
                                    <div id='service-price' class ='media-right'>
                                    ${{service.price}}
                                    </div>
                                </div>
                            </button>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class = 'services-selection-container'>
                <div class='card services-card'>
                    <div class='card-header'>Discounts</div>
                    {% for service in services_list %}
                        {% if service.category == 'discount' %}
                            <button id='discount' type='button' class='btn btn-block service-btn' 
                            onclick="addDiscount('{{service.service_name}}','{{service.price}}');">
                                <div class ='media'>
                                    <div id='service-name' class ='media-left'>
                                    {{service.service_name}}
                                    </div>
                                    <div id='service-desc' class ='media-body'>
                                    {{service.description}}
                                    </div>
                                    <div id='service-price' class ='media-right'>
                                    - ${{service.price}}
                                    </div>
                                </div>
                            </button>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class='col-sm-5 col-lg-5'>
        <div>
            <div class='card quote-card'>
                <div class='card-header'>Quote</div>
                    <div id='quote-items' class='list-group quoted-cards'></div>
                    <div id='quote-totals' class='list-group-item quote-total hidden-quote'>
                        <div class = 'media'>
                            <div class = 'media-body'>
                                <form>
                                    Subtotal:<br>
                                    <input type='text' name='subtotal' readonly='true'><br>
                                    Shipping:<br>
                                    <input type='text' name='shipping' readonly='true'><br>
                                    Tax:<br>
                                    <input type='text' name='tax' readonly='true'><br>
                                </form>
                            </div>
                            <div class = 'media-right'>
                                <form>
                                    Total:<br>
                                    <input type='text' name='total' readonly='true'><br>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>
            <div class='card quote-card'>
                <div class='card-header'>Text Quote</div>
                <textarea class='form-control' rows='5' id='text-quote' readonly='true'></textarea>
            </div>
            <button id='clipboard-button' type='button' class='btn btn-primary btn-lg'><i class="oi oi-clipboard"></i>Copy Quote to Clipboard</button>
            <button id='reset-button' type='button' class='btn btn-primary btn-lg'>Reset Quote</button>
        </div>
    </div>
</div>
{% else %}
    <div class='page-header'>
        <h3>No services found, contact your local Sidekick representative</h3>
    </div>
{% endif %}
{% endblock %}